<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Hi <%= @email %>! </h1>

    <p> Thanks for your order! </p>
    <p> Please find below the link to your ebook </p>
    <!-- <p> <%= @book.file.url %> </p> -->
    <p> You can save this file directly to your computer. </p>
    <p> We hope that you find it useful in your exam preparation.  </p>
    <p> In the meantime, if you have any questions, please feel free to contact us </p>.

    <% if @temp_password %>
      <p> We've created an user account for you.  Here's your temporary password:
      </p>
      <p> <%= @temp_password %> </p>
      <p> You can log into the site at any time and re-download any new books that you have bought. </p>
    <% end %>

    <p> Best Regards </p>
    <p> Vi from Exam Success </p>

    <p> Visit us online at www.examsuccess.com.au </p>

  </body>
</html>