<h1> Learning Materials </h1>
<p> Insert a description later </p>

  <% @booktitles.each do |t| %>
    <p><%= t.title %></p>
    <p>Authour ATAR: <%= t.atar %></p>
    <p>Mini description: <%= t.body %></p>
    <p>$<%= t.price %></p>
  <% end %>
