  <h1>User Listing</h1>


  <% User.all.each do |user| %>
    <h3><%= user.name %></h3>
    <h4><%= user.email %></h4>
    <p><%= pluralize(user.books.count, 'books') %></p>
    <p><%= pluralize(user.books.count, 'corrections') %></p>
  <% end %>


