
<p>Undefined methods - please fix</p>
<%# Purchase.all.each do |purchase| %>
  <%#= purchase.book.title %>
  <%#= purchase.user.email %>
  <%#= purchase.referrer.code %>
  <%#= purchase.referrer.email %>
  <%#= purchase.price %>
<%# end %>

