<h4>For IELTS</h4>
<p>Full sample exam for Academic Test <a href="https://dl.dropboxusercontent.com/s/icbvuiui64usg0c/1_IELTS_Full_Sample_Exam_Academic.pdf?dl=1&token_hash=AAHAfTr4pFzk2XsApxImyyBJpkTJhDjgEl0Z_LZkSBxqLA"> here</a>.</p>
<p>Full sample exam for a General Training Test (Set 1)<a href="https://dl.dropboxusercontent.com/s/edg1zbl1tudcw9g/2_IELTS_Full_Sample_Exam_General1.pdf?dl=1&token_hash=AAFUTzLdu9OxZJqRldQPX_tb8P_F2e7okCcGefS9UYJWkw"> here</a>.</p>
<p>Full sample exam for a General Training Test (Set 1) <a href="https://dl.dropboxusercontent.com/s/wymd4rtc87zoj7b/3_IELTS_Full_Sample_Exam_General2.pdf?dl=1&token_hash=AAHMFkEqn_pJh19R-Cs2UIejihRFdU57zoz4bfhZBlYp3g"> here</a>.</p>
<p>Need help?  Download a sample essay answer in the 'Books' section of this website.</p>

<h4>For HSC</h4>
<p>HSC English Standard Paper 1 (note this paper was prepared in 2012) <a href="https://dl.dropboxusercontent.com/s/hnndh95i89t3yup/1s_ES_20120823_HSC_English_Std_Practice_Exam_Paper_1.pdf?dl=1&token_hash=AAGAfU0M6nf6BIW81ZiwIP8pHFRJD9fbpaFfGSfDjLBVVg">here</a>.</p>
<p>HSC English Standard Paper 2 (note this paper was prepared in 2012) <a href="https://dl.dropboxusercontent.com/s/q870abqc4r6z8zx/2s_ES_20120823_HSC_English_Std_Practice_Exam_Paper_2.pdf?dl=1&token_hash=AAE4EL5jlh5BbC4Qoph3fZvdw3rNclqfktN-_FkUelFgKw">here</a>.</p>
