<h4>For Grade 8</h4>
<p>Useful for practicing your writing and for selective and scholarship entrance exams</p>
<p>Week 1 - click <a href="https://dl.dropboxusercontent.com/s/a8tgo5ejgu5g5it/1-english-writing-question-year-8.pdf?dl=1&token_hash=AAH66D6hGdFLV4Z_tw6t6oPpF9_8hBqXa5gdOMMMTjhBjg" onClick="ga('send', 'english8', 'link', 'download', 'week1');
});">here</a>.</p>
<p>Week 2  - click <a href="https://dl.dropboxusercontent.com/s/azjsb7kvlotyrwc/2-english-writing-question-year-8.pdf?dl=1&token_hash=AAEklciFjeZ1sQdKuXhErDS8NqULxJ8WmTpvF4lz7GnS_Q" onClick="_gaq.push(['_trackEvent', 'English8', 'Download', ‘Week2']);">here</a>.</p>
<p>Week 3 - click <a href="https://dl.dropboxusercontent.com/s/985sreawdyiog5e/3-english-writing-question-year-8.pdf?dl=1&token_hash=AAHoQLzvSsuMD9EdfoO8FlF1AohYdh_EECUAFkN_2G4yRQ" onClick="_gaq.push(['_trackEvent', 'English8', 'Download', ‘Week3']);">here</a>.</p>
<p>Week 4 - click <a href="https://dl.dropboxusercontent.com/s/6ukk0uxbsfausug/4-english-writing-question-year-8.pdf?dl=1&token_hash=AAG0VJ67gXvh1q6Idh6rVV0Vxi9G257d_2Dzky3DA6pMRg" onClick="_gaq.push(['_trackEvent', 'English8', 'Download', ‘Week4']);">here</a>.</p>
<p>Week 5 - click <a href="https://dl.dropboxusercontent.com/s/nu8fcuekokp0hhp/5-english-writing-question-year-8.pdf?dl=1&token_hash=AAE8fBGtXwHsyiaX2pGdsM-UfDfdFfTItsJ4oeYYTnnwrw" onClick="_gaq.push(['_trackEvent', 'English8', 'Download', ‘Week5']);">here</a>.</p>
