<h4>For Grade 8 & 9</h4>
<p class="lead">Useful for practicing your writing and for selective and scholarship entrance exams</p>
<h5> Analytical Writing </h5>
<p>Week 1 - click <a href="http://goo.gl/766Il0">here</a>.</p>
<p>Week 2  - click <a href="http://goo.gl/HQdgri">here</a>.</p>
<p>Week 3 - click <a href="http://goo.gl/uqhXmw">here</a>.</p>
<p>Week 4 - click <a href="http://goo.gl/mVE559">here</a>.</p>
<p>Week 5 - click <a href="http://goo.gl/G3KMzx">here</a>.</p>
<h5> Creative Writing </h5>
<p>Week 1 - click <a href="http://goo.gl/LW5TX6">here</a>.</p>
<p>Week 2  - click <a href="http://goo.gl/0wLBUe">here</a>.</p>
<p>Week 3 - click <a href="http://goo.gl/oZnh1s">here</a>.</p>
<p>Week 4 - click <a href="http://goo.gl/uyThdm">here</a>.</p>
<p>Week 5 - click <a href="http://goo.gl/sqqDWu">here</a>.</p>
