<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<p>Founded in 2011, Exam Success are the specialist in selective schools tests and scholarship entrance exams.  We use our own methodology to get students results!
​
In our first year alone we achieved an 80% success rate!
​
We provide our students with the best books along with a useful and ongoing English Improvement program to help them develop skills to pass the entrance exam & obtain top marks to get into the school of their choice.  
 
Qualifications
﻿
​Vi, the Exam Success founder attended The Mac.Robertson Girls High School (after sitting the Selective Schools Test) in Victoria from 2000 to 2003 gaining an ENTER that placed her in the top 5% of the state.  In 2004, she received a scholarship from The University of Melbourne and completed a double degree in Commerce and Arts where she developed a special interest in logic and reasoning.  She has 3 years of tutoring experience.
﻿
More importantly, she knows how to convey knowledge in easy to understand language and concepts so that YOUR child gains invaluable knowledge.
​
﻿As such, when we develop our books we have in mind the needs of the child.  We've taken the extra effort to identify weaker areas and highlight them into easy steps and actions that will realistically help to improve their exam performance.
​
Exam Success is building a new site with more resources like sample answers and detailed solutions to publicly available exams from selective schools test and entrance exams.  You can visit our sister site at www.examsucces.org and check out what it's about in the video below.

video</p>

<iframe width="640" height="360" src="//www.youtube.com/embed/JxeI70C3IBo?feature=player_embedded" frameborder="0" allowfullscreen></iframe>