<p class="lead text-center">Conveying Knowledge from the Best Minds so that Your Child Gains Invaluable Knowledge</p>
<br></br>

<div class="col-md-10">
  <dl class="dl-horizontal">
    <dt>What do we do?</dt>
    <dd>Exam Success provides students with the best books along with a useful and a fun and flexible English Improvement program to help them develop skills to do well in their exams.</dd><p></p>
    <dt>It's about YOU!</dt>
    <dd>We have developed methods on how to convey knowledge in easy to understand language so that YOUR child gains invaluable knowledge.<p></p>
    ﻿As such, when we provide services and learning materials we   have at the forefront of our minds the <strong>needs of your child</strong>. <p></p>
    We've shown in the past and will continue to make that extra effort to identify weaker areas and highlight them into easy steps and actions that will realistically help to improve their exam performance.</dd><p></p>
    <dt>We're specialists</dt>
    <dd>Founded in 2011, Exam Success are the specialist in selective schools tests and scholarship entrance exams.</dd><p></p>
    <dt>Aiming for Results</dt>
    <dd>In our first year alone we achieved an <em>80% success rate!</em>.</dd><p></p>
    <dt>The top 5%</dt>
    <dd>Exam Success tutors and learning materials are high achievers.  They have scored in the top 5% for their exam so you know you're getting assistance from someone who has been there and has done exceptionally well.</dd><p></p>
    <dt>Founder Qualifications</dt>
    <dd>Vi, the Exam Success founder attended The Mac.Robertson Girls High School (after sitting the Selective Schools Test) in Victoria from 2000 to 2003 gaining an ENTER that placed her in the top 5% of the state.  In 2004, she received a scholarship from The <strong>University of Melbourne</strong> and completed a double degree in Commerce and Arts where she developed a special interest in logic and reasoning.</dd><p></p>
  </dl>
</div>

<div class="col-md-2">
</div>

<div class="col-md-3">
</div>

<div class="col-md-6">
  <br></br>
  <p>Check out what we're about in the video below:</p>

  <p></p>

  <iframe width="500" height="310" src="//www.youtube.com/embed/MywmUKrgtks" frameborder="0" allowfullscreen></iframe>
</div>

<div class="col-md-3">
</div>