<br></br>
<div class="container">
<div class="jumbotron">
<h1>Ace Your Exams!</h1>
<br></br>
<p>1. Buy Books and Notes from <em>A+ Teachers & Tutors </em></p>
<p>2. <em>Improve your English</em> with Help from English Experts!</p>


<br>
</br>
<div class="row">
  <div class="col-md-4">
    <%= link_to books_path, class: 'btn btn-primary btn-lg btn-block' do %>
      <span class="glyphicon glyphicon-book"></span>
      &nbsp;&nbsp;&nbsp;Buy Books
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to books_path, class: 'btn btn-primary btn-lg btn-block' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      &nbsp;&nbsp;&nbsp;Practice Your Writing
    <% end %>
  </div>
</div>
</div>
