<h1>Welcome to Exam Success</h1>
<p>Learn from Top Scorers.</p>


<%= link_to "Buy Books and Videos", categories_path(@category), class: 'btn btn-primary btn-mini' %>
<p>from Top Scorers</p>

<%= link_to "Improve Your English", categories_path(@category), class: 'btn btn-primary btn-mini' %>
<p>Collect stars each time you practice and get feedback</p>
<p>Feedback provided by top scorer</p>