<div class="container">
<p class="lead">Exam Success learning materials are developed by those verified by us to have obtained marks in their exam within the top 5%.<p>

<blockquote>
  <p>These high achieving students share their knowledge with you and the secrets they have adopted to score well in their exams.  To check out the author of your books/notes, go to 'Books', choose the book you want and then download the FREE preview.  It's that simple.</p>
</blockquote>
<div class='col-md-12'>
  <h4>Get in contact with us if you:</h4>
</div>
<div class='col-md-6'>
  <div class='well'>
    <p class='lead'> Have notes/books/videos you want to sell on our site? </p><p> (Here are the <a href="https://dl.dropboxusercontent.com/s/4tyuxefa0i8m6dm/Publisher%20FAQ.pdf?dl=1&token_hash=AAF_7yWrvjHc8o-2uaz1L_V8106SQ5dEEWyxBbVL0QIYxw">FAQs</a>, <a href="https://dl.dropboxusercontent.com/s/6hj84kcf0y9w40e/Publisher%20Terms%20Conditions.pdf?dl=1&token_hash=AAGrAyx6TH9VutbdyXk_qhCb9PRBG4eC17ZPFRgf3o4KVg">terms and conditions</a>, <a href="https://dl.dropboxusercontent.com/s/4pfj4wp9zyys867/Publisher%20Payment%20Policy.pdf?dl=1&token_hash=AAHEDo7SC4IKPrsghGvBMBxQboZnMZT6o0rY4GzS6fKpkw">payment policy</a> and <a href="https://dl.dropboxusercontent.com/s/gwibjdvk1bt9mqc/Publisher%20Editorial%20Guidelines.pdf?dl=1&token_hash=AAHyYqJtqrXqG9uka03VRNIrJqkAaFesweQG8ndLaSY6ZA">guideline docs</a>).</p>
  </div>
</div>
<div class='col-md-6'>
  <div class='well'>
    <p class='lead'> Want to be a referrer/affiliate?</p><p> (Here are the <a href="https://dl.dropboxusercontent.com/s/j3ywui618r42xgk/Referrer%20Program.pdf?dl=1&token_hash=AAHZ1BKIomLDDMmQA3EhQsWRMlBxW4IOtYVg7R2L0VSFGg">terms & conditions</a>)</p>
  </div>
</div>
<br></br>
<h4>Exam Success has the following partners:</h4>
<p></p>

<div class='row'>
  <div class='col-md-4'>
    <%= image_tag("partner-st.jpg", size: "350x80", :alt => "rss feed") %>
  </div>
  <div class='col-md-8'>
    <p>www.selectivetest.net is an excellent resource to get up to date information about the NSW Selective High School Placement test written by a parent who went through the process of helping their child through the selective school test. There's even a handbook packed with practical and essential information for parents written by Veronica.<p>
  </div>
</div>

<p></p>
<div class='row'>
  <div class='col-md-12'>
    <p><strong>Future Educational Bookshop</strong> in a long-standing education book retailer in Eastwood, NSW - you can find their shop location <a href="http://www.whitepages.com.au/business-listing/jbr-future-education-bookshop-1264608">here</a>.</p>
  </div>
</div>
<p></p>
<div class='row'>
  <div class='col-md-4'>
    <%= image_tag("partner-fb.png", size: "350x80", :alt => "rss feed") %>
  </div>
  <div class='col-md-8'>
    <p>Fat Brains www.fatbrains.com.au hold an extensive range of workbooks, textbooks, study guides, test guides, and mock-up test papers for K-12 school pupils. Located in Chatswood, NSW you can locate them <a href="http://www.fatbrains.com.au/about-us/">here</a>.</p>
  </div>
</div>

<p></p>
<div class='row'>
  <div class='col-md-4'>
    <%= image_tag("partner-as.png", size: "350x60", :alt => "rss feed") %>
  </div>
  <div class='col-md-8'>
    <p>Academic Solutionz www.academicsolutionz.com.au offer an extensive range of current resources including VCE exam revision, context and text guides, textbooks, homework books and more. Located in Sunshine & Springvale, VIC you can locate them <a href="http://www.academicsolutionz.com.au/index.html">here</a>.</p>
  </div>
</div>
<p></p>
<blockquote>
  <p>Your local library! We're stocked in many local libraries. If you can't find us, ask your library to order our books in so that you don't miss out on getting crucial knowledge for the entrance exam.</p>
</blockquote>
</div>
<br></br>
