<h1> Learning Materials </h1>
<p> Insert a description later </p>

<%= render @books %>

<%# @books.each do |book| %>
  <%#= render partial: 'books/book', locals: {book: book} %>
<%# end %>

  <%= link_to "Create Book", new_book_path(@book), class: 'btn btn-large btn-block' %>
