<div class="row text-center">
  <!--h2>Easy to understand classes online and face-to-face with A+ tutors</h2>-->
  <h2>Does it worry you that your child may be left behind?</h2>
  <p class="lead">Enrol for Classes - English exams, Selective Schools and Scholarship Preparations with Individual Feedback</p>

</div>
<br/>

<div class="row">
  <div class="col-md-6">
    <h4>The facts</h4>
      • 532 students <strong>failed to get over 50%</strong> in Year 12 (2012) but were offered teaching places.  Are they now teaching your child?<p/>
      • Your child’s English correction is probably just a grade – They have <strong>no idea how to improve</strong> because there’s no guidance!<p/>
    <h4>What if there was a way your child could:</h4>
    • Learn in a group with tutors who <strong>achieved in the top 5%</strong> of the state,<p/>
    • Get <strong>individual attention</strong> through homework & <strong>Weekly Progress Reports</strong>

    <h4>How much more would your child’s grades improve?</h4>
    (<a href="https://plus.google.com/+ExamSuccessNorthMelbourne/about">Click here</a> to read what people - including the Herald Sun have said about us)
    <h4>When you join an Exam Success class, your child will be:</h4>
    • Going to classes <strong>designed by those with ATARS 95+</strong>,<p/>
    • Getting <strong>regular feedback</strong> each week, and using our <strong>custom built software</strong> to encourage students to practice and improve.<p/>
  </div>

  <div class="col-md-6">
    <iframe width="560" height="315" src="//www.youtube.com/embed/_DgzcvczYG0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="well">
  <div class="row text-center">
    <h3>What would it mean to you if you saw your child’s report with more As and less Bs or Cs?</h3>
    <p class="lead">Available Classes below - click on the red button to enrol</p>
    <p class="lead"><em> <strong>PS.</strong> Prices start from $12 per hour, same cost as a daily train ticket and 50% less than average cost of other tutors at $25 per hour. </em></p>
  </div>
</div>

<div class="row">
  <h3> Upcoming Classes... </h3>
  <%= render Lesson.all %>
</div>



<p><strong>Want to request a class? Or have other questions?</strong></p>
  <p> Get in touch! </p>
</blockquote>
  <%= render partial: 'contacts/contact', locals: {contact: Contact.new} %>
<br></br>
<% if can? :create, Lesson %>
  <%= link_to "Create New Lesson", new_lesson_path(Lesson.new), class: 'btn btn-danger btn-lg' %>
<% end %>

