<div class="row text-center">
  <h2>Easy to understand classes online and face-to-face with A+ tutors</h2>
  <p class="lead">For English exams, Selective Schools and Scholarship Preparations with Individual Feedback</p>
  <iframe width="560" height="315" src="//www.youtube.com/embed/_DgzcvczYG0" frameborder="0" allowfullscreen></iframe>
</div>
<br/>
<div class="row">
  <h3> Upcoming Classes... </h3>
  <%= render Lesson.all %>
</div>



<p><strong>Want to request a class? Or have other questions?</strong></p>
  <p> Get in touch! </p>
</blockquote>
  <%= render partial: 'contacts/contact', locals: {contact: Contact.new} %>
<br></br>
<% if can? :create, Lesson %>
  <%= link_to "Create New Lesson", new_lesson_path(Lesson.new), class: 'btn btn-danger btn-lg' %>
<% end %>

