@import "bootstrap-custom";
@import "bootstrap";

.navbar .brand
  {
    display: block;
    height: 125px;
    width: 246px;
    padding: 0;
    background: url('../Content/Images/logo.png') no-repeat left center;
    float:left;
    position: absolute;
  }

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}