<footer>
  <p class="navbar-text">&copy; Exam Success Pty Ltd 2011 - 2014</p>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Our Tutors & Partners", welcome_tutors_path %></li>
    <li><%= link_to "About", welcome_about_path %></li>
    <li><%= link_to "Privacy", welcome_privacy_path %></li>
    <li><%= link_to "Terms & Conditions", welcome_terms_path %></li>
</footer>